/*GENERAL*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Arial, Helvetica, sans-serif;
}
button{
  border-style: none;
  text-decoration: none;
  background-color: unset;
  cursor: pointer;
}
/*UTILS*/
.d-flex{
  display: flex;
}
.flex-wrap{
  flex-wrap: wrap;
}
.t-white{
  color: white;
}
.t-green{
  color: #4BC800;
}
.f-13p{
  font-size: 13px;
}
.f-11p{
  font-size: 11px;
}
.f-8p{
  font-size: 5;
}
.f-20p{
  font-size: 20px;
}
.px-15{
  padding-right: 15px;
}
.inline-block{
  display: inline-block;
}
.block{
  display: block;
}
/*MENU TOP*/
.menu-top{
  display: flex;
  flex-direction: row-reverse;
  height: 40px;
  background-color: black;
}
.bottoni-top{
  padding: 5px;
  text-align: center;
}
.bottoni-top button{
  padding: 5px;
  font-weight: 300;
  background-color: #4A4A4A;
  color: white;
  border-radius: 5px;  
}
/*MAIN*/
main{
  height: calc(100vh - 110px);
  background-color: black;
  overflow: auto;
  padding: 40px 0;
}
.container{
  justify-content: center;
  width: 95%;
  max-width: 1800px;
  margin: 0 auto;
}
.card{
  width: 200px;
  height: 150px;
  margin: 3px;
  border-radius: 5px;
  overflow: hidden;
}
.image{
  position: relative;
}
.utente{
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 5px;
}
/*MENU BOTTOM*/
.menu-bottom{
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  height: 70px;
  background-color: #222222;
  padding: 0 10px;
}
.menu-bottom nav ul li button{
  padding-right: 15px;
}
.action i{  
  padding-bottom: 7px;
}
.button-dx-bottom{
  height: 100%;
  background-color: #4A4A4A;
}

.button-dx-bottom button{
  color: red;
  align-items: center;
  padding: 0 20px;
}
